.wrapper {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.sidebar {
  grid-area: 1/1/1/2;
  background-color: #1c92d2;
  color: #fff;
}

.menu {
  font-size: 25px;
  margin-bottom: 10px;
}
svg {
  width: 25px;
  height: 25px;
}
h1 {
  display: inline;
}
.logoName {
  font-size: 40px;
}
.icon,
.text {
  vertical-align: middle;
  display: inline-block;
  padding-right: 10px;
}
.header {
  grid-area: 1/2/1/3;
}
ul {
  list-style-type: none;
}
